<h1>Post-index</h1>
<h2>Timeline</h2>

<% @feeds.each do |post| %>
<div class="field">
    <%= post.body %>
</div>
<div class="field">
    <%= image_tag post.post_image.url, width: '60'  if post.post_image.present? %>
</div>
<div>
    <%= link_to "編集", edit_post_path(post)%>
</div>
<% end %>