<h1>Habits#index</h1>
<%= button_to "Start", new_user_habits_path(current_user), method: :get %>
<% if @habits.exists? %>
    <% @habits.each do |habit| %>
    <%# <div>
        <p><%#= habit.tag %></p>
    <%# </div> %>
    <div>
        <p><%= habit.name %></p>
    </div> 
    <%# <div>
        <p><%= habit.image %></p>
    <%# </div> %> 
    <% end %>
<% else %>
    <div>
        <h2>まだ習慣を作成してません</h2>
    </div>
<% end %>