<h1>Habit#show</h1>
<div>
    <div>
        <div class="habit-name-filed">
            <h3><%= @habit.name%></h3>
        </div>
        <div>
            <%= image_tag @habit.habit_image.url, width:"200" %>
        </div>
        <div>
            <p>継続中...</p>
        </div>
        <div>
            <p>次の目標..</p>
        </div>
    </div>
    <div>
        <div>
            <h2>カレンダー</h2>
        </div>
        <div class="button-space">
            <div>達成ボタン</div>
            <div>一週間チャレンジ</div>
            <div>アイテム</div>
        </div>
    </div>
</div>